@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
   }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%)) ;
    color: hsl(240, 6%, 50%);
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
}

#faqBlock {
    width: 950px;
    height: 60%;
    background-color: white;
    /*padding: 2rem;*/
    border-radius: 2em;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-position:-560px -290px;
    background-repeat: no-repeat;
}

.imatges {
    position: relative;
    width: 50%;
    margin-left: 0;
    margin-right: auto;
}

#imgBg {
    overflow: hidden;
    width: 900px;
    height: auto;
    position: absolute;
    top: -325px;
    left: -500px;
}

#imgPrincipal {
    object-position: -70px 0;
}

#imgFlotant {
    position: absolute;
    top: 140px;
    left: -90px;
}

.preguntes {
    width: 50%;
    height: 100%;
    padding: 2rem 4rem 2rem 0;
    margin-left: auto;
    margin-right: 0;
}

.preguntes button {
    width: 95%;
    height: 3em;
    background-color: transparent;
    border-color: transparent;
    font-family: inherit;
    font-size: 1.1em;
    text-align: left;/*
    background-image: url("./images/icon-arrow-down.svg");
    background-size: 15px 10px;
    background-position: 98% 51%;
    background-repeat: no-repeat;*/
}

.accordion::after {
    content: url("./images/icon-arrow-down.svg");
    float: right;
    transition: transform 0.2s ease-out;
}

.active::after {
    transform: rotate(-180deg);
}

.panel {
    padding: 0 6px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.active, .accordion:hover {
    font-weight: bold;
  }

.attribution {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
}

.attribution a:link{
    color: white;
}

hr {
    color: hsl(240, 5%, 91%);
    background-color: lightgrey;
}